<template name="StrategiesInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> StrategiesInsertInsertForm}}
		<div class="modal crud-insert-form-container" id="field-plugin-bundles-insert-form" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						{{> StrategiesInsertFieldPluginBundlesInsertFormContainerFieldPluginBundlesInsertForm}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="StrategiesInsertInsertForm">
	<div id="strategies-insert-insert-form" class="">
		<h2 id="component-title">
			New Strategy
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="" class="form-control" autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-update-time">
				<label for="updateTime">
					Update Time
				</label>
				<div class="input-div">
					<input type="text" name="updateTime" value="1" class="form-control" required="required" data-type="integer" data-min="1">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-time-unit">
				<label for="timeUnit">
					Time Unit
				</label>
				<div class="input-div">
					<select class="form-control" name="timeUnit" data-type="string" required="required">
						<option value="none" selected>							None</option>
						<option value="year">							Year</option>
						<option value="month">							Months</option>
						<option value="week">							Weeks</option>
						<option value="week of the year">							Week of the Year</option>
						<option value="day">							Days</option>
						<option value="day of the year">							Day of the Year</option>
						<option value="day of the month">							Day of the Month</option>
						<option value="day of the week">							Day of the Week</option>
						<option value="hours">							Hours</option>
						<option value="minutes">							Minutes</option>
						<option value="seconds">							Seconds</option>
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-mode">
				<label for="mode">
					Mode
				</label>
				<div class="input-div">
					<div class="radio">
						<label>
							<input type="radio" value="manual" name="mode" data-type="string" checked>
							Manual
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="semiAuto" name="mode" data-type="string">
							Semi-Automatic
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="auto" name="mode" data-type="string">
							Automatic
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-plugin-bundles">
				<label for="pluginBundles">
					Plugin Bundles (logical connected via 'or')
				</label>
				<div class="input-div">
					<table class="table table-striped">
						<thead>
							<tr class="crud-table-controls">
								<td colspan="1">
									<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#field-plugin-bundles-insert-form">
										<span class="fa fa-plus">
										</span>
										Add
									</button>
								</td>
							</tr>
							{{#if pluginBundlesCrudItems}}
							<tr class="crud-table-header">
								<th>
									Plugin Bundle
								</th>
								<th>
									&nbsp;
								</th>
							</tr>
							{{/if}}
						</thead>
						<tbody>
							{{#each pluginBundlesCrudItems}}
							<tr class="crud-table-row">
								<td>
									{{bundle}}
								</td>
								<td class="td-icon delete-icon">
									<span class="fa fa-trash-o" title="Delete">
									</span>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

<template name="StrategiesInsertFieldPluginBundlesInsertFormContainerFieldPluginBundlesInsertForm">
	<div id="strategies-insert-field-plugin-bundles-insert-form-container-field-plugin-bundles-insert-form" class="">
		<h2 id="component-title">
			Insert
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-bundle">
				<label for="bundle">
					Plugin Bundle
				</label>
				<div class="input-div">
					<select class="form-control" name="bundle" data-type="string" required="required" autofocus="autofocus">
						{{#each pluginBundles}}
						<option value="{{_id}}">							{{name}}</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

