<template name="Info">
  <div class="page-container container" id="content">
    <div class="row" id="title_row">
      <div class="col-md-12">
        <div id="page_menu" class="pull-right">
        </div>
      </div>
    </div>
    {{> infoCont}}
  </div>
</template>

<template name="infoCont">
  {{#markdown}}
<h2 id="tableOfCont">Table of Content</h2> 
+ <a href="#overview">Overview</a> 
+ <a href="#howTo">How To</a> 
+ <a href="#exchanges">Exchanges</a> 
+ <a href="#plugins">Plugins</a>
+ <a href="#changeLog">Change Log</a>


<br/>
{{> howTo}}
{{> exchanges}}
{{> plugins}}
{{> changeLog}}

  {{/markdown}}
</template>


<!--------------------------------------------------------------- 
  How to
 ---------------------------------------------------------------->
<template name='howTo'>
<h3 id="howTo">How To</h3> 
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  Exchanges
 ---------------------------------------------------------------->
<template name='exchanges'>
<h3 id="exchanges">Exchanges</h3>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  Plugins
 ---------------------------------------------------------------->
<template name='plugins'>
<h3 id="plugins">Plugins</h3>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  Change Log
 ---------------------------------------------------------------->
<template name='changeLog'>
<h3 id="changeLog">Change Log</h3> 
####v0.2.0
- massive forum improvements
- initial implementation of info page
- extended tooltips support
- some system relevant improvements
- added chart zoom
- fixed chromium based browser bug

####v0.1.1
- fixed manual buy/sell bug in Swing plugin

####v0.1.0
- initial version

{{> RetToToC}}
</template>


<template name='RetToToC'>
  <br/>Return to <a href="#tableOfCont">Table of Content</a><br/><br/><br/>
</template>
