<template name="InfoMisc">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> miscCont}}
	</div>
</template>

<template name="miscCont">
  {{#markdown}}
<h2 id="tableOfCont">Table of Content</h2> 
+ <a href="#changeLog">Change Log</a> 



<br/>
{{> miscChangeLog}}

  {{/markdown}}
</template>


<!--------------------------------------------------------------- 
  Change Log
 ---------------------------------------------------------------->
<template name='miscChangeLog'>
<h3 id="changeLog">Change Log</h3> 

<h4 style="display:inline">v0.3.2</h4> <h5 style="display:inline">(02/26/2017)</h5>
- fixed some minor bugs
- changed home view
- started documentation
- fixed StopLoss and TakeProfit active view bug
- added Dummy plugin
- added duplicate button
- added reset button
- added logging system

<h4 style="display:inline">v0.3.1</h4> <h5 style="display:inline">(12/09/2016)</h5>
- fixed StopLoss bug

<h4 style="display:inline">v0.3.0</h4> <h5 style="display:inline">(12/08/2016)</h5>
- added prefix support
- changed frontend style
- redesigned Plugins page
- redesigned Exchanges page
- removed Bundles page (logic moved to Strategies page)
- splitted Swing plugin in ThresholdIn and ThresholdOut plugins

<h4 style="display:inline">v0.2.1</h4> <h5 style="display:inline">(11/23/2016)</h5>
- fixed TestDatas unable to stop bug
- fixed some error messages occurred in browser consoles

<h4 style="display:inline">v0.2.0</h4> <h5 style="display:inline">(11/21/2016)</h5>
- massive forum improvements
- initial implementation of info page
- started tooltips support (currently only enabled in forum page)
- some system relevant improvements
- added chart zoom
- fixed chromium based browser bug
- integrated trading view widget in Charts view
- history improvements
- expanded actives chart view
- added logins view

<h4 style="display:inline">v0.1.1</h4> <h5 style="display:inline">(10/31/2016)</h5>
- fixed manual buy/sell bug in Swing plugin

<h4 style="display:inline">v0.1.0</h4> <h5 style="display:inline">(09/20/2016)</h5>
- initial version

{{> RetToToC}}
</template>

