<template name="Settings">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> SettingsEditForm}}
	</div>
</template>

<template name="SettingsEditForm">
	<div id="settings-edit-form" class="">
		<h2 id="component-title">
			Settings
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<h3>Notifications</h3>
      		<hr />
			<div class="form-group  field-en-br-ntfctn">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo settings_first.enBrNtfctn}}" name="enBrNtfctn" data-type="bool" autofocus="autofocus" {{itemIsChecked settings_first.enBrNtfctn true}}>
							Enable Browser Notification Popup
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-en-br-ntfctn-snd">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo settings_first.enBrNtfctnSnd}}" name="enBrNtfctnSnd" data-type="bool" {{itemIsChecked settings_first.enBrNtfctnSnd true}}>
							Enable Browser Notification Sound
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-en-app-ntfctn">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo settings_first.enAppNtfctn}}" name="enAppNtfctn" data-type="bool" {{itemIsChecked settings_first.enAppNtfctn true}}>
							Enable App Notification
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-en-app-ntfctn-snd">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo settings_first.enAppNtfctnSnd}}" name="enAppNtfctnSnd" data-type="bool" {{itemIsChecked settings_first.enAppNtfctnSnd true}}>
							Enable App Notification Sound
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<h3>Prefixes</h3>
      		<hr />
      		<div class="form-group  field-en-ex-prefix">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo settings_first.enExPrefix}}" name="enExPrefix" data-type="bool" {{itemIsChecked settings_first.enExPrefix true}}>
							Enable Exchange Prefixes
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-en-pl-prefix">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo settings_first.enPlPrefix}}" name="enPlPrefix" data-type="bool" {{itemIsChecked settings_first.enPlPrefix true}}>
							Enable Plugin Prefixes
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-en-str-prefix">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo settings_first.enStrPrefix}}" name="enStrPrefix" data-type="bool" {{itemIsChecked settings_first.enStrPrefix true}}>
							Enable Strategy Prefixes
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<hr />
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

