<template name="ForumInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> ForumInsertInsertForm}}
	</div>
</template>

<template name="ForumInsertInsertForm">
	<div id="forum-insert-insert-form" class="">
		<h2 id="component-title">
			New Topic
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-title">
				<label for="title">
					Titel
				</label>
				<div class="input-div">
					<input type="text" name="title" value="" class="form-control " autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-type">
				<label for="type">
					Type
				</label>
				<div class="input-div">
					<div class="radio">
						<label>
							<input type="radio" value="soi" name="type" data-type="string" checked>
							Suggestion of Improvement (soi)
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="bug" name="type" data-type="string">
							Bug
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-desc">
				<label for="desc">
					Description
				</label>
				<div class="input-div">
					<textarea class="form-control " name="desc"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

