<template name="ForumEdit">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> ForumEditEditForm}}
	</div>
</template>

<template name="ForumEditEditForm">
	<div id="forum-edit-edit-form" class="">
		<h2 id="component-title">
			Edit Topic
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-topic-num">
				<label for="topicNum">
					Topic Number
				</label>
				<div class="input-div">
					<p class="form-control-static  control-field-topic-num">
						{{topic.topicNum}}
					</p>
				</div>
			</div>
			<div class="form-group  field-title">
				<label for="title">
					Titel
				</label>
				<div class="input-div">
					<input type="text" name="title" value="{{topic.title}}" class="form-control " autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-type">
				<label for="type">
					Type
				</label>
				<div class="input-div">
					<div class="radio">
						<label>
							<input type="radio" value="soi" name="type" data-type="string" {{itemIsChecked topic.type "soi"}}>
							Suggestion of Improvement (soi)
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="bug" name="type" data-type="string" {{itemIsChecked topic.type "bug"}}>
							Bug
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			{{#if isDeveloper}}
			<div class="form-group  field-state">
				<label for="state">
					State
				</label>
				<div class="input-div">
					<select class="form-control " name="state" data-type="string" required="required">
						<option value="created" {{optionIsSelected topic.state "created"}}>							Created</option>
						<option value="accepted" {{optionIsSelected topic.state "accepted"}}>							Accepted</option>
						<option value="denied" {{optionIsSelected topic.state "denied"}}>							Denied</option>
						<option value="inProgress" {{optionIsSelected topic.state "inProgress"}}>							In progress</option>
						<option value="solved" {{optionIsSelected topic.state "solved"}}>							Solved</option>
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			{{/if}}
			<div class="form-group  field-desc">
				<label for="desc">
					Description
				</label>
				<div class="input-div">
					<textarea class="form-control " name="desc">{{topic.desc}}</textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

