<template name="About">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					<!-- Under construction... -->
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> aboutCont}}
	</div>
</template>


<template name="aboutCont">
  {{#markdown}}
{{> overview}}
{{> whatitis}}
{{> whatitisnot}}
  {{/markdown}}
</template>

<template name='overview'>
##Overview
The Trade Helpers intention is to support you in trading any kind of assets from different exchanges with different, own created strategies. It is kind of a platform where you can configure your own trading strategy and run it in fully automated, semi-automated or manual mode. With the ability to create a strategy based on combinations of OR and/or AND connected mini strategies (so called plugins), it gives you enormous flexibility and customization possibilities. 
</template>

<template name='whatitis'>
##What it is
It is a platform for creating and running customized trading strategies based on implemented plugins and tied exchanges.
</template>

<template name='whatitisnot'>
##What it is not
It is not a platform to trade assets directly. To use and trade via an exchange, an account at this exchange is needed.
</template>