<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    Trade Helper
  </title>
</head>
<template name="layout">
  {{#if currentUser}} {{> PrivateLayout}} {{else}} {{> PublicLayout}} {{/if}}
  {{> sAlert}}
</template>
<template name="FreeLayout">
  <div id="content" class="sticky-wrapper">
    <div id="navbar" class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="navbar-container container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand" href="#">
            Trade Helper
          </a>
        </div>
        <div id="menu" class="collapse navbar-collapse">
        </div>
      </div>
    </div>
    <div class="navbar-spacer">
    </div>
    {{> yield}}
  </div>
  <div id="footer" class="sticky-footer">
    <div class="footer-container container">
      Trade Helper v{{$Meteor.settings.public.Version}}
    </div>
  </div>
</template>
<template name="PublicLayout">
  <div id="content" class="sticky-wrapper">
    <div id="navbar" class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="navbar-container container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand" href="#">
            Trade Helper
          </a>
        </div>
        <div id="menu" class="collapse navbar-collapse">
          {{> PublicLayoutLeftMenu}}{{> PublicLayoutRightMenu}}
        </div>
      </div>
    </div>
    <div class="navbar-spacer">
    </div>
    {{> yield}}
  </div>
  <div id="footer" class="sticky-footer">
    <div class="footer-container container">
      Trade Helper v{{$Meteor.settings.public.Version}}
    </div>
  </div>
</template>
<template name="PublicLayoutLeftMenu">
  <ul id="menu-items" class="nav navbar-nav">
    <li id="menu-item-simple" class="{{menuItemClass 'home_public'}}">
      <a href="{{pathFor 'home_public'}}">
        <span class="item-title">
          Home
        </span>
      </a>
    </li>
    <li id="menu-item-simple" class="{{menuItemClass 'about'}}">
      <a href="{{pathFor 'about'}}">
        <span class="item-title">
          About
        </span>
      </a>
    </li>
  </ul>
</template>
<template name="PublicLayoutRightMenu">
  <ul id="menu-items" class="nav navbar-nav navbar-right">
    <li id="menu-item-simple" class="{{menuItemClass 'register'}}">
      <a href="{{pathFor 'register'}}">
        <span class="item-title">
          Register
        </span>
      </a>
    </li>
    <li id="menu-item-simple" class="{{menuItemClass 'login'}}">
      <a href="{{pathFor 'login'}}">
        <span class="item-title">
          Login
        </span>
      </a>
    </li>
  </ul>
</template>
<template name="PrivateLayout">
  <div id="content" class="sticky-wrapper">
    <div id="navbar" class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="navbar-container container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a class="navbar-brand" href="#">
            Trade Helper
          </a>
          <p class="navbar-text">
            {{#if $eq $Session.activePage 'default'}}
            <span class="fa fa-sitemap">
            </span> {{/if}} {{#if $eq $Session.activePage 'prHome'}}
            <span class="fa fa-home">
            </span> {{/if}} {{#if $eq $Session.activePage 'charts'}}
            <span class="fa fa-line-chart">
            </span> {{/if}} {{#if $eq $Session.activePage 'actives'}}
            <span class="fa fa-flash">
            </span> {{/if}} {{#if $eq $Session.activePage 'strategies'}}
            <span class="fa fa-flask">
            </span> {{/if}} {{#if $eq $Session.activePage 'plugins'}}
            <span class="fa fa-plug">
            </span> {{/if}} {{#if $eq $Session.activePage 'exchanges'}}
            <span class="fa fa-exchange">
            </span> {{/if}} {{#if $eq $Session.activePage 'history'}}
            <span class="fa fa-history">
            </span> {{/if}} {{#if $eq $Session.activePage 'info'}}
            <span class="fa fa-info">
            </span> {{/if}} {{#if $eq $Session.activePage 'settings'}}
            <span class="fa fa-gears">
            </span> {{/if}} {{#if $eq $Session.activePage 'develop'}}
            <span class="fa fa-desktop">
            </span> {{/if}} {{#if $eq $Session.activePage 'forum'}}
            <span class="fa fa-inbox">
            </span> {{/if}} {{#if $eq $Session.activePage 'user_settings'}}
            <span class="fa fa-cog">
            </span> {{/if}}
          </p>
        </div>
        <div id="menu" class="collapse navbar-collapse">
          {{> PrivateLayoutLeftMenu}}
          {{> PrivateLayoutRightMenu}}
        </div>
      </div>
    </div>
    <div class="navbar-spacer">
    </div>
    {{> yield}}
  </div>
  <div id="footer" class="sticky-footer">
    <div class="footer-container container">
      Trade Helper v{{$Meteor.settings.public.Version}}
    </div>
  </div>
</template>
<template name="PrivateLayoutLeftMenu">
  <ul id="menu-items" class="nav navbar-nav navbar">
    <li id="menu-item-dropdown" class="dropdown ">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-sitemap">
        </span>
        <span class="item-title">
          &nbsp;Pages
        </span>
        <b class="caret">
        </b>
      </a>
      <ul id="menu-items" class="dropdown-menu">
        <li class="{{menuItemClass 'home_private'}}">
          <a href="{{pathFor 'home_private'}}">
            <span class="fa fa-home">
        </span>
            <span class="item-title">
          &nbsp;Home
        </span>
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="{{menuItemClass 'charts'}}">
          <a href="{{pathFor 'charts'}}">
            <span class="fa fa-line-chart">
        </span>
            <span class="item-title">
          &nbsp;Charts
        </span>
          </a>
        </li>
        <li class="{{menuItemClass 'actives'}}">
          <a href="{{pathFor 'actives'}}">
            <span class="fa fa-flash">
        </span>
            <span class="item-title">
          &nbsp;Actives
        </span>
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="{{menuItemClass 'strategies'}}">
          <a href="{{pathFor 'strategies'}}">
            <span class="fa fa-flask">
        </span>
            <span class="item-title">
          &nbsp;Strategies
        </span>
          </a>
        </li>
        <li class="{{menuItemClass 'plugins'}}">
          <a href="{{pathFor 'plugins'}}">
            <span class="fa fa-plug">
        </span>
            <span class="item-title">
          &nbsp;Plugins
        </span>
          </a>
        </li>
        <li class="{{menuItemClass 'exchanges'}}">
          <a href="{{pathFor 'exchanges'}}">
            <span class="fa fa-exchange">
        </span>
            <span class="item-title">
          &nbsp;Exchanges
        </span>
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="{{menuItemClass 'history'}}">
          <a href="{{pathFor 'history'}}">
            <span class="fa fa-history">
        </span>
            <span class="item-title">
          &nbsp;History
        </span>
          </a>
        </li>
        <li class="{{menuItemClass 'info'}}">
          <a href="{{pathFor 'info'}}">
            <span class="fa fa-info">
        </span>
            <span class="item-title">
          &nbsp;Info
        </span>
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="{{menuItemClass 'forum'}}">
          <a href="{{pathFor 'forum'}}">
            <span class="fa fa-inbox">
        </span>
            <span class="item-title">
          &nbsp;Forum
        </span>
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li class="{{menuItemClass 'settings'}}">
          <a href="{{pathFor 'settings'}}">
            <span class="fa fa-gears">
        </span>
            <span class="item-title">
          &nbsp;Settings
        </span>
          </a>
        </li>
        {{#if $eq enDevView 'true'}}
        <li class="{{menuItemClass 'develop'}}">
          <a href="{{pathFor 'develop'}}">
            <span class="fa fa-desktop">
        </span>
            <span class="item-title">
          &nbsp;Develop
        </span>
          </a>
        </li>
        {{/if}}
      </ul>
    </li>
  </ul>
</template>
<template name="PrivateLayoutRightMenu">
  <ul id="menu-items" class="nav navbar-nav navbar-right">
    <li id="menu-item-simple" class="{{menuItemClass 'admin'}}">
      <a href="{{pathFor 'admin'}}">
        <span class="fa fa-wrench">
        </span>
        <span class="item-title">
          &nbsp;Admin
        </span>
      </a>
    </li>
    <li id="menu-item-dropdown" class="dropdown ">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="fa fa-cog">
        </span>
        <span class="item-title">
          &nbsp;{{userEmail}}
        </span>
        <b class="caret">
        </b>
      </a>
      <ul id="menu-items" class="dropdown-menu">
        <li class="{{menuItemClass 'user_settings'}}">
          <a href="{{pathFor 'user_settings'}}">
            <span class="item-title">
              Settings
            </span>
          </a>
        </li>
        <li class="{{menuItemClass 'logout'}}">
          <a href="{{pathFor 'logout'}}">
            <span class="item-title">
              Logout
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</template>
