<template name="Actives">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> ActivesView}}
	</div>
</template>

<template name="ActivesView">
	<div id="actives-view" class="">
		<h2 id="component-title">
			Active Strategies
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> ActivesViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			No Strategy activated
		</div>
		{{/if}}
	</div>
</template>

<template name="ActivesViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="name">
					Name
				</th>
				<th class="th-sortable" data-sort="totalIn">
					Cost In
				</th>
				<th class="th-sortable" data-sort="current">
					Price / Cost Current
				</th>
				<th class="th-sortable" data-sort="winLoss">
					Profit
				</th>
				<th class="th-sortable" data-sort="position">
					Position
				</th>
				<th class="th-sortable" data-sort="state">
					State
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> ActivesViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="ActivesViewTableItems">
	<tr class="{{rowClass}}" id="dataview-table-items-row">
		<td>
			{{name}}
		</td>
		<td>
			{{costIn}}
		</td>
		<td>
			{{current}}
		</td>
		<td>
			{{profit}}
		</td>
		<td>
			{{position}}
		</td>
		<td>
			{{state}}
		</td>
		<td class="td-icon">
			<span id="refresh-button" class="fa fa-refresh" title="Refresh">
			</span>
		</td>
		<td class="td-icon">
			{{#if strategyPaused}}
			<span id="pausePlay-button" class="fa fa-play" title="Play">
			</span>
			{{else}}
			<span id="pausePlay-button" class="fa fa-pause" title="Pause">
			</span>
			{{/if}}
		</td>
		<td class="td-icon">
			<span id="stop-button" class="fa fa-stop" title="Stop">
			</span>
		</td>
	</tr>
</template>

