<template name="HomePrivate">
  <div class="page-container container" id="content">
    <div class="row" id="title_row">
      <div class="col-md-12">
        <h2 id="page_title" class="pull-left">Welcome {{userFullName}}!</h2>
        <div id="page_menu" class="pull-right">
        </div>
      </div>
    </div>
    {{> HomePrivateView}}
  </div>
</template>

<template name="HomePrivateView">
  <form>
    <br/>
    {{#if $eq numOfLogins 1}}
    	<p>You are logged in with 1 entity {{> HomePrivateViewLoginsFieldButton}}</p> 
    {{else}}
    	<p>You are logged in with {{numOfLogins}} entities {{> HomePrivateViewLoginsFieldButton}}</p> 
    {{/if}} 
    {{#if showLogins}}
    {{#each logins}} {{> HomePrivateViewLogin}} {{/each}}
    {{/if}} 
    {{> HomePrivateViewLinks}}
  </form>
</template>
<template name="HomePrivateViewLogin">
  <div class="form-group">
    <label class="col-sm-3">
      Login at:
    </label>
    <p>
      {{formatDate login 'MMMM Do YYYY, h:mm:ss a'}}
      <a href="#" id="logout-button" class="fa fa-sign-out {{logoutButtonClass}}" title="Logout">
      </a>
    </p>
  </div>
</template>


<template name="HomePrivateViewLoginsFieldButton">
  <button id="form-entity-button" class="btn btn-default btn-xs" type="submit">
      {{#if showLogins}}
      <span class="fa fa-angle-up">
      </span> {{else}}
      <span class="fa fa-angle-down">
      </span> {{/if}}
    </button>
</template>


<template name="HomePrivateViewLinks">
 {{#markdown}}
 If you're new and/or need some informations visit the <a href="/info">Info page</a>.
 If you want to see your active strategies visit the <a href="/actives">Actives page</a>.
 {{/markdown}}
</template>
