<template name="ActivesDetails">
  <div class="page-container container" id="content">
    <div class="row" id="title_row">
      <div class="col-md-12">
        <div id="page_menu" class="pull-right">
        </div>
      </div>
    </div>
    {{> ActivesDetailsDetailsForm}}
  </div>
</template>
<template name="ActivesDetailsDetailsForm">
  <div id="actives-details-details-form" class="">
    <h2 id="component-title">
      <a href="#" id="form-back-button" class="btn btn-default" title="back">
        <span class="fa fa-chevron-left">
        </span>
      </a>
      Details, Chart & Controls
    </h2>
    <form role="form" class="form-horizontal">
      {{#if errorMessage}}
      <div class="alert alert-warning">
        {{errorMessage}}
      </div>
      {{/if}} {{#if infoMessage}}
      <div class="alert alert-success">
        {{infoMessage}}
      </div>
      {{/if}}
      <h3>Details</h3>
      <hr />
      <div class="form-group  field-name">
        <label for="name" class="col-sm-3 control-label">
          Name
        </label>
        <div class="input-div col-sm-9">
          <p class="form-control-static">
            {{activeData.strategyName}}
          </p>
        </div>
      </div>
      <div class="form-group  field-update-time">
        <label for="updateTime" class="col-sm-3 control-label">
          Update Time
        </label>
        <div class="input-div col-sm-9">
          <p class="form-control-static">
            {{strategyData.updateTime}} {{strategyData.timeUnit}}
          </p>
        </div>
      </div>
      <div class="form-group  field-mode">
        <label for="mode" class="col-sm-3 control-label">
          Mode
        </label>
        <div class="input-div col-sm-9">
          <p class="form-control-static">
            {{strategyData.mode}}
          </p>
        </div>
      </div>
      <div class="form-group  field-position">
        <label for="position" class="col-sm-3 control-label">
          Position
        </label>
        <div class="input-div col-sm-9">
          <p class="form-control-static">
            {{activeData.position}}
          </p>
        </div>
      </div>
      <div class="form-group  field-state">
        <label for="state" class="col-sm-3 control-label">
          State
        </label>
        <div class="input-div col-sm-9">
          <p class="form-control-static">
            {{activeData.state}}
          </p>
        </div>
      </div>
      <div class="form-group  field-time-in">
        <label for="state" class="col-sm-3 control-label">
          Time In
        </label>
        <div class="input-div col-sm-9">
          <p class="form-control-static">
            {{activeData.inTime}}
          </p>
        </div>
      </div>
      <div class="form-group  field-time-current">
        <label for="state" class="col-sm-3 control-label">
          Time Current
        </label>
        <div class="input-div col-sm-9">
          <p class="form-control-static">
            {{activeData.curTime}}
          </p>
        </div>
      </div>
      <div class="form-group  field-exchanges">
        <label for="exchanges" class="col-sm-3 control-label">
          Exchanges
          <button id="form-exchanges-button" class="btn btn-default btn-xs" type="submit">
            {{#if showExchanges}}
            <span class="fa fa-angle-up">
            </span> {{else}}
            <span class="fa fa-angle-down">
            </span> {{/if}}
          </button>
          <button id="form-expandExchanges-button" class="btn btn-default btn-xs" type="submit">
            <span class="fa fa-angle-double-down"></span>
          </button>
          <button id="form-collapseExchanges-button" class="btn btn-default btn-xs" type="submit">
            <span class="fa fa-angle-double-up"></span>
          </button>
        </label>
        <div class="input-div col-sm-9">
          <table class="table table-striped">
            {{#if showExchanges}}
            <tbody>
              {{#each activeData.exchanges}} {{> ActivesDetailsDetailsFormExchanges}} {{/each}}
            </tbody>
            {{/if}}
          </table>
          <span id="help-text" class="help-block">
          </span>
          <span id="error-text" class="help-block">
          </span>
        </div>
      </div>
      <div class="form-group  field-plugin-bundles">
        <label for="pluginBundles" class="col-sm-3 control-label">
          Pl. Bundles
          <button id="form-bundle-button" class="btn btn-default btn-xs" type="submit">
            {{#if showBundles}}
            <span class="fa fa-angle-up">
            </span> {{else}}
            <span class="fa fa-angle-down">
            </span> {{/if}}
          </button>
          <button id="form-expandBundles-button" class="btn btn-default btn-xs" type="submit">
            <span class="fa fa-angle-double-down"></span>
          </button>
          <button id="form-collapseBundles-button" class="btn btn-default btn-xs" type="submit">
            <span class="fa fa-angle-double-up"></span>
          </button>
        </label>
        <div class="input-div col-sm-9">
          <table class="table table-striped">
            {{#if showBundles}}
            <tbody>
              {{#each activeData.bundles}}
              <tr class="crud-table-row">
                <td>
                  <table class="table table-striped">
                    <thead>
                      <tr class="crud-table-header">
                        <th>
                          {{name}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each plugins}} {{> ActivesDetailsDetailsFormPlugins}} {{/each}}
                    </tbody>
                  </table>
                </td>
              </tr>
              {{/each}}
            </tbody>
            {{/if}}
          </table>
          <span id="help-text" class="help-block">
          </span>
          <span id="error-text" class="help-block">
          </span>
        </div>
      </div>
      <h3>Chart</h3>
      <hr />
      <div class="form-group">
        <div class="submit-div col-sm-9">
          {{> ActivesDetailsChartForm}}
        </div>
      </div>
      <h3>Controls</h3>
      <hr />
      <div class="form-group">
        <div class="submit-div col-sm-9">
          <button id="form-buy-button" class="btn btn-info" type="submit">
            <span class="fa fa-arrow-circle-down">
            </span> Buy
          </button>
          <button id="form-sell-button" class="btn btn-info" type="submit">
            <span class="fa fa-arrow-circle-up">
            </span> Sell
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="submit-div col-sm-9">
          <button id="form-refresh-button" class="btn btn-default" type="submit">
            <span class="fa fa-refresh">
            </span> Refresh
          </button>
          {{#if strategyPaused}}
          <button id="form-pausePlay-button" class="btn btn-default" type="submit">
            <span class="fa fa-play">
            </span> Play
          </button>
          {{else}}
          <button id="form-pausePlay-button" class="btn btn-default" type="submit">
            <span class="fa fa-pause">
            </span> Pause
          </button>
          {{/if}}
          <button id="form-stop-button" class="btn btn-default" type="submit">
            <span class="fa fa-stop">
            </span> Stop
          </button>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <div class="submit-div col-sm-9">
          <a href="#" id="form-close-button" class="btn btn-primary">
            OK
          </a>
        </div>
      </div>
    </form>
  </div>
</template>
<template name="ActivesDetailsDetailsFormPlugins">
  <tr class="crud-table-row">
    <td>
      <table class="table table-striped">
        <thead>
          <tr class="crud-table-header">
            <th>
              {{name}}
              <button id="plugin-button" class="btn btn-default btn-xs" type="submit">
                {{#if showPlugin}}
                <span class="fa fa-angle-up"></span> {{else}}
                <span class="fa fa-angle-down"></span> {{/if}}
              </button>
            </th>
          </tr>
        </thead>
        {{#if showPlugin}}
        <tbody>
          <tr class="crud-table-row">
            <td>
              Type:
              <br> {{instInfo.type}}
            </td>
          </tr>
          <tr class="crud-table-row">
            <td>
              State:
              <br> {{state}}
            </td>
          </tr>
          <tr class="crud-table-row">
            <td>
              Exchange:
              <br> {{exchange.name}}
            </td>
          </tr>
          {{#each arrayify info}}
          <tr class="crud-table-row">
            <td>
              {{name}}:
              <br> {{value}}
            </td>
          </tr>
          {{/each}}
        </tbody>
        {{/if}}
      </table>
    </td>
  </tr>
</template>
<template name="ActivesDetailsDetailsFormExchanges">
  <tr class="crud-table-row">
    <td>
      <table class="table table-striped">
        <thead>
          <tr class="crud-table-header">
            <th>
              {{name}}
              <button id="exchange-button" class="btn btn-default btn-xs" type="submit">
                {{#if showExchange}}
                <span class="fa fa-angle-up"></span> {{else}}
                <span class="fa fa-angle-down"></span> {{/if}}
              </button>
            </th>
          </tr>
        </thead>
        {{#if showExchange}}
        <tbody>
          <tr class="crud-table-row">
            <td>
              Type:
              <br> {{type}}
            </td>
          </tr>
          <tr class="crud-table-row">
            <td>
              Profit Percentage:
              <br> {{profitPer}}
            </td>
          </tr>
          <tr class="crud-table-row">
            <td>
              Profit Total:
              <br> {{profitTot}}
            </td>
          </tr>
          <tr class="crud-table-row">
            <td>
              Amount:
              <br> {{amount}}
            </td>
          </tr>
          <tr class="crud-table-row">
            <td>
              Price In:
              <br> {{inPrice}}
            </td>
          </tr>
          <tr class="crud-table-row">
            <td>
              Price Current:
              <br> {{price}}
            </td>
          </tr>
          <tr class="crud-table-row">
            <td>
              Volume In:
              <br> {{volumeIn}}
            </td>
          </tr>
          <tr class="crud-table-row">
            <td>
              Volume Current:
              <br> {{volumeCur}}
            </td>
          </tr>
          {{#each arrayify info}}
          <tr class="crud-table-row">
            <td>
              {{name}}:
              <br> {{value}}
            </td>
          </tr>
          {{/each}}
        </tbody>
        {{/if}}
      </table>
    </td>
  </tr>
</template>
<template name="ActivesDetailsChartForm">
  {{> c3 data=currChart}}
</template>
