<template name="ExchangesDetailsExTestData">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> ExchangesDetailsExTestDataDetailsForm}}
	</div>
</template>

<template name="ExchangesDetailsExTestDataDetailsForm">
	<div id="exchanges-details-ex-test-data-details-form" class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			Details
		</h2>
		<form role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name" class="col-sm-3 control-label">
					Name
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{ex_test_data.name}}
					</p>
				</div>
			</div>
			<div class="form-group  field-trade-pair">
				<label for="tradePair" class="col-sm-3 control-label">
					Security Pair
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{ex_test_data.tradePair}}
					</p>
				</div>
			</div>
			<div class="form-group  field-balance-amount">
				<label for="balanceAmount" class="col-sm-3 control-label">
					Simulated balance amount to trade with
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{ex_test_data.balanceAmount}}
					</p>
				</div>
			</div>
			<div class="form-group  field-gain">
				<label for="gain" class="col-sm-3 control-label">
					Gain (multiplier)
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{ex_test_data.gain}}
					</p>
				</div>
			</div>
			<div class="form-group  field-offset">
				<label for="offset" class="col-sm-3 control-label">
					Offset
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{ex_test_data.offset}}
					</p>
				</div>
			</div>
			<div class="form-group  field-start-val">
				<label for="startVal" class="col-sm-3 control-label">
					Start Value (counter starts with this value)
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{ex_test_data.startVal}}
					</p>
				</div>
			</div>
			<div class="form-group  field-step-width">
				<label for="stepWidth" class="col-sm-3 control-label">
					Step Width (counter inscreases by this value each time)
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{ex_test_data.stepWidth}}
					</p>
				</div>
			</div>
			<div class="form-group  field-trade-delay-sec">
				<label for="tradeDelaySec" class="col-sm-3 control-label">
					Simulated time for a trade (buying/selling)
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{ex_test_data.tradeDelaySec}}
					</p>
				</div>
			</div>
			<div class="form-group  field-price-type">
				<label for="priceType" class="col-sm-3 control-label">
					Price Type
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{ex_test_data.priceType}}
					</p>
				</div>
			</div>
			<div class="form-group  field-data">
				<label for="data" class="col-sm-3 control-label">
					Data
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{ex_test_data.data}}
					</p>
				</div>
			</div>
			{{#if $eq enError 'true'}}
			<div class="form-group  field-en-long">
				<label for="enLong" class="col-sm-3 control-label">
					Enable Long Position
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.enLong}}
					</p>
				</div>
			</div>
			<div class="form-group  field-en-short">
				<label for="enShort" class="col-sm-3 control-label">
					Enable Short Position
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.enShort}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-sc">
				<label for="errSC" class="col-sm-3 control-label">
					Error setConfig()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errSC}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-gc">
				<label for="errGC" class="col-sm-3 control-label">
					Error getConfig()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errGC}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-gi">
				<label for="errGI" class="col-sm-3 control-label">
					Error getInfo()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errGI}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-gpu">
				<label for="errGPU" class="col-sm-3 control-label">
					Error getPairUnits()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errGPU}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-gv">
				<label for="errGV" class="col-sm-3 control-label">
					Error getVolume()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errGV}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-gp">
				<label for="errGP" class="col-sm-3 control-label">
					Error getPrice()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errGP}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-gtp">
				<label for="errGTP" class="col-sm-3 control-label">
					Error getTradePrice()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errGTP}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-u">
				<label for="errU" class="col-sm-3 control-label">
					Error update()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errU}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-s">
				<label for="errS" class="col-sm-3 control-label">
					Error sell()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errS}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-b">
				<label for="errB" class="col-sm-3 control-label">
					Error buy()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errB}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-st">
				<label for="errST" class="col-sm-3 control-label">
					Error stopTrade()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errST}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-gii">
				<label for="errGII" class="col-sm-3 control-label">
					Error getInstInfo()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errGII}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-gpo">
				<label for="errGPO" class="col-sm-3 control-label">
					Error getPositions()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errGPO}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-sbnf">
				<label for="errSBNF" class="col-sm-3 control-label">
					Error setBoughtNotifyFunc()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errSBNF}}
					</p>
				</div>
			</div>
			<div class="form-group  field-err-ssnf">
				<label for="errSSNF" class="col-sm-3 control-label">
					Error setSoldNotifyFunc()
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{booleanToYesNo ex_test_data.errSSNF}}
					</p>
				</div>
			</div>
			{{/if}}
			<div class="form-group">
				<div class="submit-div col-sm-9">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

