<template name="InfoPages">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> pagesCont}}
	</div>
</template>


<template name="pagesCont">
  {{#markdown}}
<h2 id="tableOfCont">Table of Content</h2> 
+ <a href="#home">Home</a> 
+ <a href="#charts">Charts</a> 
+ <a href="#actives">Actives</a> 
+ <a href="#strategies">Strategies</a>
+ <a href="#plugins">Plugins</a>
+ <a href="#exchanges">Exchanges</a>
+ <a href="#history">History</a>
+ <a href="#forum">Forum</a>
+ <a href="#settings">Settings</a>


<br/>
{{> pagesHome}}
{{> pagesCharts}}
{{> pagesActives}}
{{> pagesStrategies}}
{{> pagesPlugins}}
{{> pagesExchanges}}
{{> pagesHistory}}
{{> pagesForum}}
{{> pagesSettings}}

  {{/markdown}}
</template>


<!--------------------------------------------------------------- 
  Home
 ---------------------------------------------------------------->
<template name='pagesHome'>
<h3 id="home">Home</h3> 
tbd
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  Charts
 ---------------------------------------------------------------->
<template name='pagesCharts'>
<h3 id="charts">Charts</h3> 
tbd
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  Actives
 ---------------------------------------------------------------->
<template name='pagesActives'>
<h3 id="actives">Actives</h3> 
tbd
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  Strategies
 ---------------------------------------------------------------->
<template name='pagesStrategies'>
<h3 id="strategies">Strategies</h3> 
tbd
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  Plugins
 ---------------------------------------------------------------->
<template name='pagesPlugins'>
<h3 id="plugins">Plugins</h3> 
tbd
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  Exchanges
 ---------------------------------------------------------------->
<template name='pagesExchanges'>
<h3 id="exchanges">Exchanges</h3> 
tbd
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  History
 ---------------------------------------------------------------->
<template name='pagesHistory'>
<h3 id="history">History</h3> 
tbd
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  Forum
 ---------------------------------------------------------------->
<template name='pagesForum'>
<h3 id="forum">Forum</h3> 
tbd
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  Settings
 ---------------------------------------------------------------->
<template name='pagesSettings'>
<h3 id="settings">Settings</h3> 
tbd
{{> RetToToC}}
</template>

