<template name="Develop">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> DevelopView}}
	</div>
</template>

<template name="DevelopView">
	<div id="develop-view" class="">
		<h2 id="component-title">
			Settings
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> DevelopViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			No Settings configured
		</div>
		{{/if}}
	</div>
</template>

<template name="DevelopViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="enBrNtfctn">
					Enable Browser Notification
				</th>
				<th class="th-sortable" data-sort="enBrNtfctnSnd">
					Enable Browser Notification Sound
				</th>
				<th class="th-sortable" data-sort="enAppNtfctn">
					Enable App Notification
				</th>
				<th class="th-sortable" data-sort="enAppNtfctnSnd">
					Enable App Notification Sound
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> DevelopViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="DevelopViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="enBrNtfctn" {{checked enBrNtfctn}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="enBrNtfctnSnd" {{checked enBrNtfctnSnd}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="enAppNtfctn" {{checked enAppNtfctn}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="enAppNtfctnSnd" {{checked enAppNtfctnSnd}}>
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
	</tr>
</template>

