<template name="ExchangesInsertExTestData">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> ExchangesInsertExTestDataInsertForm}}
	</div>
</template>

<template name="ExchangesInsertExTestDataInsertForm">
	<div id="exchanges-insert-ex-test-data-insert-form" class="">
		<h2 id="component-title">
			New Dataset
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="" class="form-control" autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-trade-pair">
				<label for="tradePair">
					Security Pair
				</label>
				<div class="input-div">
					<select class="form-control" name="tradePair" data-type="string" required="required">
						<option value="none" selected>							None</option>
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-balance-amount">
				<label for="balanceAmount">
					Simulated balance amount to trade with
				</label>
				<div class="input-div">
					<input type="text" name="balanceAmount" value="100" class="form-control" required="required" data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-gain">
				<label for="gain">
					Gain (multiplier)
				</label>
				<div class="input-div">
					<input type="text" name="gain" value="1" class="form-control" required="required" data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-offset">
				<label for="offset">
					Offset
				</label>
				<div class="input-div">
					<input type="text" name="offset" value="1" class="form-control" required="required" data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-start-val">
				<label for="startVal">
					Start Value (counter starts with this value)
				</label>
				<div class="input-div">
					<input type="text" name="startVal" value="0" class="form-control" required="required" data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-step-width">
				<label for="stepWidth">
					Step Width (counter inscreases by this value each time)
				</label>
				<div class="input-div">
					<input type="text" name="stepWidth" value="1" class="form-control" required="required" data-type="integer">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-trade-delay-sec">
				<label for="tradeDelaySec">
					Simulated time for a trade (buying/selling)
				</label>
				<div class="input-div">
					<input type="text" name="tradeDelaySec" value="3" class="form-control" required="required" data-type="integer">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-price-type">
				<label for="priceType">
					Price Type
				</label>
				<div class="input-div">
					<div class="radio">
						<label>
							<input type="radio" value="sinus" name="priceType" data-type="string" checked>
							Sinus
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="data" name="priceType" data-type="string">
							Data
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-data">
				<label for="data">
					Data
				</label>
				<div class="input-div">
					<textarea class="form-control" name="data"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

