<template name="ExchangesInsertExTestData">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> ExchangesInsertExTestDataInsertForm}}
	</div>
</template>

<template name="ExchangesInsertExTestDataInsertForm">
	<div id="exchanges-insert-ex-test-data-insert-form" class="">
		<h2 id="component-title">
			New Dataset
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="" class="form-control" autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-amount">
				<label for="amount">
					Simulated Amount
				</label>
				<div class="input-div">
					<input type="text" name="amount" value="1" class="form-control" required="required" data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-gain">
				<label for="gain">
					Gain (multiplier)
				</label>
				<div class="input-div">
					<input type="text" name="gain" value="1" class="form-control" required="required" data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-counter">
				<label for="counter">
					Counter (starts with this value)
				</label>
				<div class="input-div">
					<input type="text" name="counter" value="0" class="form-control" required="required" data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-price-type">
				<label for="priceType">
					Price Type
				</label>
				<div class="input-div">
					<div class="radio">
						<label>
							<input type="radio" value="Sinus" name="priceType" data-type="string" checked>
							Sinus
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="Data" name="priceType" data-type="string">
							Data
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-data">
				<label for="data">
					Data
				</label>
				<div class="input-div">
					<textarea class="form-control" name="data"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

