<template name="ExchangesInsertExTestData">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> ExchangesInsertExTestDataInsertForm}}
	</div>
</template>

<template name="ExchangesInsertExTestDataInsertForm">
	<div id="exchanges-insert-ex-test-data-insert-form" class="">
		<h2 id="component-title">
			New Dataset
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="name" value="" class="form-control" autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-trade-pair">
				<label for="tradePair">
					Trade Pair
				</label>
				<div class="input-div">
					<select class="form-control" name="tradePair" data-type="string" required="required">
						{{#each pairs}}
						<option value={{name}} selected>							{{name}}</option>
						{{/each}}
					</select>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-balance-amount">
				<label for="balanceAmount">
					Simulated balance amount to trade with
				</label>
				<div class="input-div">
					<input type="text" name="balanceAmount" value="100" class="form-control" required="required" data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-gain">
				<label for="gain">
					Gain (multiplier)
				</label>
				<div class="input-div">
					<input type="text" name="gain" value="1" class="form-control" required="required" data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-offset">
				<label for="offset">
					Offset
				</label>
				<div class="input-div">
					<input type="text" name="offset" value="1" class="form-control" required="required" data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-start-val">
				<label for="startVal">
					Start Value (counter starts with this value)
				</label>
				<div class="input-div">
					<input type="text" name="startVal" value="0" class="form-control" required="required" data-type="float">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-step-width">
				<label for="stepWidth">
					Step Width (counter inscreases by this value each time)
				</label>
				<div class="input-div">
					<input type="text" name="stepWidth" value="1" class="form-control" required="required" data-type="integer">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-trade-delay-sec">
				<label for="tradeDelaySec">
					Simulated time for a trade (buying/selling)
				</label>
				<div class="input-div">
					<input type="text" name="tradeDelaySec" value="3" class="form-control" required="required" data-type="integer">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-price-type">
				<label for="priceType">
					Price Type
				</label>
				<div class="input-div">
					<div class="radio">
						<label>
							<input type="radio" value="sinus" name="priceType" data-type="string" checked>
							Sinus
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" value="data" name="priceType" data-type="string">
							Data
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-data">
				<label for="data">
					Data
				</label>
				<div class="input-div">
					<textarea class="form-control" name="data"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			{{#if $eq enError 'true'}}
			<div class="form-group  field-en-long">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo true}}" name="enLong" data-type="bool" checked>
							Enable Long Position
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-en-short">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo true}}" name="enShort" data-type="bool" checked>
							Enable Short Position
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-sc">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errSC" data-type="bool">
							Error setConfig()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-gc">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errGC" data-type="bool">
							Error getConfig()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-gi">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errGI" data-type="bool">
							Error getInfo()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-gpu">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errGPU" data-type="bool">
							Error getPairUnits()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-gv">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errGV" data-type="bool">
							Error getVolume()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-gp">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errGP" data-type="bool">
							Error getPrice()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-gtp">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errGTP" data-type="bool">
							Error getTradePrice()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-u">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errU" data-type="bool">
							Error update()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-s">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errS" data-type="bool">
							Error sell()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-b">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errB" data-type="bool">
							Error buy()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-st">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errST" data-type="bool">
							Error stopTrade()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-gii">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errGII" data-type="bool">
							Error getInstInfo()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-gpo">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errGPO" data-type="bool">
							Error getPositions()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-sbnf">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errSBNF" data-type="bool">
							Error setBoughtNotifyFunc()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-err-ssnf">
				<div class="input-div">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="{{booleanToYesNo false}}" name="errSSNF" data-type="bool">
							Error setSoldNotifyFunc()
						</label>
					</div>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			{{/if}}
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

