<template name="ExchangesTestData">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> ExchangesTestDataViewExTestData}}
	</div>
</template>


<template name="ExchangesTestDataViewExTestData">
	<div id="exchanges-test-data-view-ex-test-data" class="">
		<h2 id="component-title">
			Test Data
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> ExchangesTestDataViewExTestDataTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			No Dataset configured
		</div>
		{{/if}}
	</div>
</template>

<template name="ExchangesTestDataViewExTestDataTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="name">
					Name
				</th>
				<th class="th-sortable" data-sort="balanceAmount">
					Balance Amount
				</th>
				<th class="th-sortable" data-sort="pair">
					Pair
				</th>
				<th class="th-sortable" data-sort="stepWidth">
					Step Width
				</th>
				<th class="th-sortable" data-sort="priceType">
					Price Type
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> ExchangesTestDataViewExTestDataTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="ExchangesTestDataViewExTestDataTableItems">
	<tr class="{{rowClass}}" id="dataview-table-items-row">
		<td>
			{{name}}
		</td>
		<td>
			{{balanceAmount}}
		</td>
		<td>
		  {{tradePair}}
		</td>
		<td>
			{{stepWidth}}
		</td>
		<td>
			{{priceType}}
		</td>
		{{#if $eq actives 0}}
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
		{{else}}
		<td></td>
		<td class="td-icon">
			<span id="actives-button" class="fa fa-flash" title="Go to Actives">
			</span>
		</td>
		{{/if}}
	</tr>
</template>






























<!-- 
<template name="ExchangesTestDataViewExTestData">
	<div id="exchanges-test-data-view-ex-test-data" class="">
		<h2 id="component-title">
			TestData
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> ExchangesTestDataViewExTestDataTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			No Dataset configured
		</div>
		{{/if}}
	</div>
</template>

<template name="ExchangesTestDataViewExTestDataTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="name">
					Name
				</th>
				<th class="th-sortable" data-sort="quoteAmount">
					Simulated Amount of Quote Value to trade with
				</th>
				<th class="th-sortable" data-sort="gain">
					Gain (multiplier)
				</th>
				<th class="th-sortable" data-sort="offset">
					Offset
				</th>
				<th class="th-sortable" data-sort="startVal">
					Start Value (counter starts with this value)
				</th>
				<th class="th-sortable" data-sort="stepWidth">
					Step Width (counter inscreases by this value each time)
				</th>
				<th class="th-sortable" data-sort="priceType">
					Price Type
				</th>
				<th class="th-sortable" data-sort="data">
					Data
				</th>
				<th class="th-sortable" data-sort="enLong">
					Enable Long Position
				</th>
				<th class="th-sortable" data-sort="enShort">
					Enable Short Position
				</th>
				<th class="th-sortable" data-sort="errSC">
					Error setConfig()
				</th>
				<th class="th-sortable" data-sort="errGC">
					Error getConfig()
				</th>
				<th class="th-sortable" data-sort="errGI">
					Error getInfo()
				</th>
				<th class="th-sortable" data-sort="errGPU">
					Error getPairUnits()
				</th>
				<th class="th-sortable" data-sort="errGV">
					Error getVolume()
				</th>
				<th class="th-sortable" data-sort="errGP">
					Error getPrice()
				</th>
				<th class="th-sortable" data-sort="errGTP">
					Error getTradePrice()
				</th>
				<th class="th-sortable" data-sort="errU">
					Error update()
				</th>
				<th class="th-sortable" data-sort="errS">
					Error sell()
				</th>
				<th class="th-sortable" data-sort="errB">
					Error buy()
				</th>
				<th class="th-sortable" data-sort="errST">
					Error stopTrade()
				</th>
				<th class="th-sortable" data-sort="errGII">
					Error getInstInfo()
				</th>
				<th class="th-sortable" data-sort="errGPO">
					Error getPositions()
				</th>
				<th class="th-sortable" data-sort="errSBNF">
					Error setBoughtNotifyFunc()
				</th>
				<th class="th-sortable" data-sort="errSSNF">
					Error setSoldNotifyFunc()
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> ExchangesTestDataViewExTestDataTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="ExchangesTestDataViewExTestDataTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{name}}
		</td>
		<td>
			{{quoteAmount}}
		</td>
		<td>
			{{gain}}
		</td>
		<td>
			{{offset}}
		</td>
		<td>
			{{startVal}}
		</td>
		<td>
			{{stepWidth}}
		</td>
		<td>
			{{priceType}}
		</td>
		<td>
			{{data}}
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="enLong" {{checked enLong}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="enShort" {{checked enShort}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errSC" {{checked errSC}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errGC" {{checked errGC}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errGI" {{checked errGI}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errGPU" {{checked errGPU}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errGV" {{checked errGV}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errGP" {{checked errGP}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errGTP" {{checked errGTP}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errU" {{checked errU}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errS" {{checked errS}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errB" {{checked errB}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errST" {{checked errST}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errGII" {{checked errGII}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errGPO" {{checked errGPO}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errSBNF" {{checked errSBNF}}>
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="errSSNF" {{checked errSSNF}}>
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

 -->