<template name="InfoHowto">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> howtoCont}}
	</div>
</template>

<template name="howtoCont">
  {{#markdown}}
<h2 id="tableOfCont">Table of Content</h2> 
+ <a href="#general">General</a> 
+ <a href="#example">Example</a> 



<br/>
{{> howtoGeneral}}
{{> howtoExample}}



  {{/markdown}}
</template>



<!--------------------------------------------------------------- 
  General
 ---------------------------------------------------------------->
<template name='howtoGeneral'>
<h3 id="general">General</h3> 
First of all you need to instantiate an exchange binding which connects an exchange to the trade helper platform. To do so, go to the <a href="/exchanges">Exchanges page</a> and select an exchange you want to connect with. After creating an exchange binding (see details in <a href="/info/exchanges">Exchanges</a>), you need to create at least one plugin that uses this binding. 
To archive this, go to the <a href="/plugins">Plugins page</a> and create an plugin (see plugin details in <a href="/info/plugins">Plugins</a>). At the creating process you have to select an exchange binding which is the place where you link the firstly created exchange binding to your plugin. You can create more than one plugin that uses this binding, so that you can create more complex strategies later on. After finishing this step, you need to create a strategy that uses these plugins. 
To do so, select the <a href="/strategies">Strategies page</a> from the Pages menu and create a Strategy. While creating, you are requested to add some plugin bundles. A plugin bundle is a bunch of plugins and is handled AND connected from the Strategy. For instance, if one plugin inside this bundle determined a buy or sell action, the bundle will not progress this to the strategy unless all other plugins inside this bundle determined the same action in the same time. This is why it is called AND connected. 
The bundles itself are OR connected. This means if only one bundle progresses an action to the strategy, the strategy will perform this action. 
After creating an Strategy you need to activate it. An activated strategy is a running strategy and can be found inside the <a href="/actives">Actives page</a>. 
That’s it. This is the general work flow to create and activate your own strategy. For an example work flow see the <a href="#example">Example</a> chapter.
 
{{> RetToToC}}
</template>


<!--------------------------------------------------------------- 
  Example
 ---------------------------------------------------------------->
<template name='howtoExample'>
<h3 id="example">Example</h3><br/>
<h4>Simple</h4>To demonstrate the workflow we'll create a TestData exchange binding first. This is a special exchange binding because it is more an own created data set to test your strategy with then a binding like the others (see details in <a href="/info/exchanges">Exchanges</a>).
Push the <a href="/exchanges/ex_test_data/insert_ex_test_data">"Add new" Button </a> inside the Pages -> Exchanges -> TestData view and configure your first TestData exchange. You will find some configuration fields with default values. For this example we will let these configurations untouched except the name and offset fields. Inside a remarkable name like 'myFirstTestDataExchange' into the name field, change the number inside the Offset field to 5 and save these settings with the Save button. 
You should now see your created TestData exchange with the name of your choice, a simulated balance of 100, a generic trade pair, a step width set to 1 and a price type configured to sinus. 
For details information please visit the <a href="/info/exchanges">Exchanges</a> page, in general we created an exchange that returns us a sinus shaped price with an offset of 5. Of course, this is not a realistic scenario but good enough to demonstrate the general work flow and test some basic settings of your strategy. It is possible to configure a TestData exchange with your own price data (i.e. for back testing with historic data), but this out of the scope of this example.<br/>
The next step is to configure plugins that use the created TestData exchange. In this example we will use the ThresholdIn and ThresholdOut plugins. As the name describes it already, the ThresholdIn plugin is used to determine an In action (buy in long mode or sell in short mode) and the ThresholdOut plugin determines an Out action (sell in long mode or buy in sell mode).
So let's create a ThresholdIn plugin first. Go to <a href="/plugins/pl_threshold_in/insert_pl_threshold_in">Pages -> Plugins -> ThresholdIn and push the "Add new" button </a>. The default setting lets you create a ThresholdIn plugin that fires an In action indication whenever the current price raises above 3 percent of the start price and the strategy is not already in a position. The start price is the price captured at the beginning of an active life cycle or at the time an active changes its state from in to out. Additionally the plugin fires indicators only for long position trading, which is good (at least at the beginning) because you only trade with money you have (in a real trading scenario).
So let's keep these settings and only select our created exchange (if not already selected), change the name to something like 'myFirstThresholdInPlugin' and save these settings via the save button.
In addition to our ThresholdIn plugin which determines an In action, we need a ThresholdOut plugin to determine a good moment to go out of a position and (hopefully) take along the made profit or at least reduce the loss. 
To create one, go to <a href="/plugins/pl_threshold_out/insert_pl_threshold_out">Pages -> Plugins -> ThresholdOut and push the "Add new" button </a>.
Again, the default configuration is a pretty accurate setting, and we should only select our exchange ('myFirstTestDataExchange' or whatever you named it) if not already selected, rename the plugin to something like 'myFirstThresholdOutPlugin' and save these settings with the save button. Our now created ThresholdOut plugin will indicate an Out action whenever the corresponding active is in a position and the current price is lower then 3 percent of the highest price (in a long position. In a short position it would be the lowest price).<br/>
Now that we have created two plugins which our strategy will base on, it's time to create the strategy.
To do so, go to <a href="/strategies/insert">Pages -> Strategies and push the "Add new" button </a>.
Name the strategy to something like 'myFirstAwsomeStrategy', leave the update time at 1 and select the time unit to Seconds. What we have done so far is to configure the update time to 1 second, which means that the running strategy will request a new price every second from the corresponding exchanges.
Just keep in mind that due to the reason that we'll use a TestData exchange binding and this type of exchange is only a locally proceed exchange, this is totally fine. If we would use an exchange binding that communicates with a 'real' exchange over the web, 1 second would be a very bad setting because of exchange constrains and Internet traffic. In these cases a setting bigger then 5 minutes is suggested.
The next step is to select one of the three available Modes. Mode one (Manual) will only notify you if an action is determined (and notification is configured in the <a href="/settings">Settings page </a>) without doing the real action (buying or selling). Mode 2 (Semi-Automatic) will only notify you when an In action is determined but perform the Out action on it's own. In Mode three (Automatic) the Strategy will run totally autonomous and perform the In and Out actions on it's own. But don't be afraid, you can sell and buy manually at every time if you don't agree to the decisions the strategy made :). So let's select the Automatic mode.
The last configuration we have to do is to create the plugin bundles the strategy will use. To do so click onto the '+Add' button and select ONLY ONE of the shown plugins (should be our created plugins). Only one because, as describes in the <a href="#general">General</a> chapter, the plugins inside a bundle are AND connected which would make no sense if we connect an ThresholIn and ThresholdOut plugin via AND. These two plugins will never determine an action simultaneously and therefore the strategy would be useless. After selecting only one plugin, save the bundle via the save button and create another one including the other plugin. Now you should see two plugin bundles where each of them includes one of our plugins. If this is the case, save the strategy and well done. 
**!!!You have successfully created your first awesome strategy!!!** <br/>
To activate it, click on your strategy inside the table view. You should see two control buttons now, beside a list of settings we have just made. To activate the Strategy push the 'Activate' button. To go directly to the <a href="/actives">Exchanges</a> page click onto the 'Goto Actives' button, as well. 
Now you should see a table of active strategies including (or only) our awesome one and some basic trading informations. For a more detailed view click onto the strategy and you will find a view with detail informations, a chart and some control buttons. 
To see how your strategy performs after a while visit the <a href="/history">History page</a>. <br/>
Feel free to play around a little bit before going to the advanced section. For example accelerate the actions by increasing the step width of the TestData exchange. Or enable short in both plugins to enable short trading. To edit exchanges, plugins or strategies click onto the pen in the corresponding list view but note: you can only edit an exchange, plugin or strategy if it's not in use or running. <br/>
**If you have any suggestions, improvements, found a bug or have any other concerns, please visit the <a href="/forum">Forum page</a> and create a topic**.

{{> RetToToC}}
</template>